extends ../layout

block content
    form(action="/products/add", method="post")
        div.form-group
            label(for="name") Enter Name
            input#name(type="text", class="form-control",name="name")
        div.form-group
            label(for="price") Enter Price
            input#price(type="number", class="form-control",name="price")
        div.form-group
            label(for="details") Enter Details
            textarea#details.form-control(placeholder='Enter Product Details' required='',name="details")
        div.form-group
            label(for="price") Enter Image URL
            input#img(type="text",placeholder="Enter Image URL", class="form-control",name="img")
        input(type="submit",class="btn btn-info")