extends ../layout

block content
    form(action="/products/edit/"+products._id, method="post")
        div.form-group
            label(for="name") Enter Name
            input#name(type="text", class="form-control",name="name",value=products.name)
        div.form-group
            label(for="price") Enter Price
            input#price(type="text", class="form-control",name="price",value=products.price)
        div.form-group
            label(for="details") Enter Details
            textarea#details.form-control(placeholder='Enter Product Details' required='',name="details")=products.details
        div.form-group
            label(for="price") Enter Image URL
            input#img(type="text",placeholder="Enter Image URL", class="form-control",name="img",value=products.img)
        input(type="submit",class="btn btn-info")